body{
    font-family: Arial,  sans-serif;
    background-image: url(/img/to-do-list.jpeg);
  
    background-size: cover;
}
.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
   
}
h1{text-align: center;}

button{border: double;}
button:hover{transition: 0.5s;
background-color: aqua;}
